{% extends "layout.html" %}
{% block content %}

	<div id="contents">
		<div class="container-fluid text-center" style="padding-bottom: 10px;">
			<center>
				<img src="./images/image-green.jpg" class="images-circle" style="height: 50%;margin: 30px">
			</center>
		</div>
		<div class="container-fluid" style="padding-top: 10px; text-align:center; font-size: 15px;">
			<p>
				<br>
				웨어리쳐(weariture)는 환경 보존을 실천하고 개개인의 개성을 살린 옷의 가치를 추구하고 연구하는 팩토리 브랜드 컴퍼니입니다.<br>
				웨어리쳐(weariture)는 wear+nature의 합성어로 "자연을 입다"입니다.<br> 지구를 훼손하는 쓰레기를 개성 넘치는 옷으로 탈바꿈합니다.
				<br>
			</p>
		</div>
	</div>
{% endblock %}