{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="/styles/product_style.css" />
{% endblock %} {% block content %}
<div id="contents">
    <style>
        .contents span {
            color: #000 !important;
        }
    </style>
    <div class="product_list_wrap">
        <div class="xans-element- xans-product xans-product-menupackage product_left">
            <div class="xans-element- xans-product xans-product-headcategory product_list_title">
                <h2>ALL</h2>
                <div class="sub_category" style="padding: 0px">
                    <ul>
                        <li>
                            <a href="" style="font-size: 15px; color: #898989"> TOP (243) </a>
                        </li>
                        <li>
                            <a href="" style="font-size: 15px; color: #898989"> BOTTOM (33) </a>
                        </li>
                    </ul>
                </div>
                <br />
                <h2>Select your color</h2>
                <div class="">
                    <ul>
                        <li>
                            <a href="/product/black" style="font-size: 15px; color: #898989">black</a>
                        </li>
                        <li>
                            <a href="/product/blue" style="font-size: 15px; color: #898989">blue</a>
                        </li>
                        <li>
                            <a href="/product/etc" style="font-size: 15px; color: #898989">etc</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="product_right">
        <div class="xans-element- xans-product xans-product-listnormal product_list">
            <ul class="prdList column4">
                {% for i in product %}
                <li class="item xans-record-">
                    <div class="box_wrap">
                        <span class="wish"></span>
                        <div class="img_box">
                            <a href="detail" name="anchorBoxName_976" class="thumb">
                                <img src="{{i.dataValues.img}}" alt="2010 MAROON DENIM JACKET [BROWN]" class="big" />
                                " &nbsp;"
                                <img
                                    src="{{i.dataValues.img}}"
                                    alt="2010 MAROON DENIM JACKET [BROWN]"
                                    class="medium"
                                    style="opacity: 0; display: inline"
                                />
                                " &nbsp;"
                            </a>
                        </div>
                        <a href="detail" class="name">
                            <span class="title displayone">
                                <span style="font-size: 12px; color: #000000"></span>
                            </span>
                            <span style="font-size: 12px; color: #000000">{{i.dataValues.product_name}}</span>
                        </a>
                        <div class="icon"></div>
                        <div class="contents">
                            <ul class="xans-element- xans-product xans-product-listitem">
                                <li class="xans-record-">
                                    <strong class="title displayone">
                                        <span style="font-size: 12px; color: #9e9e9e"></span>
                                    </strong>
                                    <span style="font-size: 12px; color: #9e9e9e">{{i.dataValues.model_name}}</span>
                                    <span id="span_product_tax_type_text" style="text-decoration: line-through"></span>
                                </li>
                                <li class="xans-record-">
                                    <strong class="title displayone">
                                        <span style="font-size: 12px; color: #9e9e9e"></span>
                                    </strong>
                                    <span style="font-size: 12px; color: #9e9e9e">&#8361;{{i.dataValues.price}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="xans-element- xans-product xans-product-normalpaging">
            <p class="first">
                <a href="#none">
                    <img src="/images/btn_page_first.gif" alt="첫페이지" />
                </a>
            </p>
            <p>
                <a href="#none">
                    <img src="/images/btn_page_prev.gif" alt="이전 페이지" />
                </a>
            </p>
            <ol>
                <li class="xans-record-"><a href="/" class="this">1</a></li>
                <li class="xans-record-"><a href="/" class="this">2</a></li>
                <li class="xans-record-"><a href="/" class="this">3</a></li>
                <li class="xans-record-"><a href="/" class="this">4</a></li>
                <li class="xans-record-"><a href="/" class="this">5</a></li>
            </ol>
            <p class="right">
                <a href="/"><img src="/images/btn_page_next.gif" alt="다음 페이지" /></a>
            </p>
            <p class="right last">
                <a href="/"><img src="/images/btn_page_last.gif" alt="마지막 페이지" /></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
