{% extends "layout.html" %}
{% block content %}
<div id="contents">
	<center>
	<div class="xans-element- xans-board xans-board-listpackage-4 xans-board-listpackage xans-board-4 ">
		<div class="xans-element- xans-board xans-board-title-4 xans-board-title xans-board-4 ">
		<br>
		<h2>
			<font color="#3AB449">REVIEW</font>
		</h2>
		<span style="margin: 20px">
			<b>리뷰 작성시, 포인트 지급(착샷 1000원, 글 500원)<br>
				※ 리뷰내용이 아닐경우 자동 삭제되는 점 양해부탁드립니다.
			</b>
		</span>
		<div style="margin: 0px 0px 20px 0px">
			{% if loggedin %}
			<!-- <div id="user" class="d-flex"> -->
				<a href="review/write"><button class="btn btn-outline-success">리뷰 작성하기</button></a>
			<!-- </div> -->
			{% else %}
				<a href="/user/login"><button class="btn btn-outline-success">로그인 하기</button></a>
			{% endif %}
			<!-- <a href="review/write"><button class="btn btn-outline-success">리뷰 작성하기</button></a> -->
		</div>
		<div class="ec-base-table typeList gBorder" style="width: 1000px">
			<table class="table table-hover">
				<caption>상품 게시판 목록</caption>
				<colgroup
					class="xans-element- xans-board xans-board-listheader-4 xans-board-listheader xans-board-4 ">
					<col style="width:70px;">
					<col style="width:150px;">
					<col style="width:130px;" class="displaynone">
					<col style="width:auto;">
					<col style="width:84px;">
					<col style="width:77px;" class="displaynone">
					<col style="width:55px;" class="">
					<col style="width:55px;" class="displaynone">
					<col style="width:80px;" class="displaynone">
				</colgroup>
				<thead
					class="xans-element- xans-board xans-board-listheader-4 xans-board-listheader xans-board-4 "
					style="text-align: center">
					<tr style=" ">
						<th scope="col"> 번호</th>
						<th scope="col">상품정보</th>
						<th scope="col" class="displaynone">카테고리</th>
						<th scope="col">제목</th>
						<th scope="col">작성자</th>
						<th scope="col" class="displaynone">작성일</th>
						<th scope="col" class="">조회</th>
						<th scope="col" class="displaynone">추천</th>
						<th scope="col" class="displaynone">평점</th>
					</tr>
				</thead>
				<tbody
					class="xans-element- xans-board xans-board-list-4 xans-board-list xans-board-4 center">
					{% for i in review %}
					<tr style="background-color:#FFFFFF; color:#555555;" class="xans-record-">
						<td> {{i.dataValues.id}}</td>
						<td class="thumb left"><a href="">
								<span style="color: #3AB449">{{i.dataValues.pro_name}}</span></a></td>
						<td class="displaynone">
							<p>
								<center>{{i.dataValues.cate}}</center>
							</p>
						</td>
						<td class="subject left txtBreak">
							<span class="displaynone">
								<a href="#none" onclick="BOARD.viewTarget('188513','4',this);"></a>
							</span>
							<a href="" style="color:#555555;">{{i.dataValues.tit}}</a>
							<span class="txtEm"></span>
						</td>
						<td>{{i.dataValues.cus_name}}</td>
						<td class="displaynone"><span class="txtNum">{{i.dataValues.re_date}}</span>
						</td>
						<td class=""><span class="txtNum">{{i.dataValues.view}}</span></td>
						<td class="displaynone"><span class="txtNum">{{i.dataValues.rec}}</span>
						</td>
						<td class="displaynone">
							<p>
								<center>{{i.dataValues.rate}}</center>
							</p>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<p
				class="xans-element- xans-board xans-board-empty-4 xans-board-empty xans-board-4 message displaynone ">
			</p>
		</div>
		<div
			class="xans-element- xans-board xans-board-buttonlist-4 xans-board-buttonlist xans-board-4 displaynone ec-base-button typeBG ">
			<form action="search" method="get" class="search-form">
				<span class="gRight">
					<a href="" class="displaynone">
						<br>
						리뷰날짜:
						<input type="date" id="reviewdate" name="reviewdate">&nbsp;&nbsp;&nbsp;
						내용검색:
						<input type="text" id="username" name="username">&nbsp;&nbsp;
						<input type="submit" value="search"><br>&nbsp;
					</a>
				</span>
			</form>
		</div>
	</div>
	</center>
</div>
{% endblock %}