* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 11px;
	font-family: 'arial', 'Nanum gothic';
	/* font-family: 'LeferiPoint-WhiteObliqueA', sans-serif; */
}

html {
	font-family: 'LeferiPoint-WhiteObliqueA'
}

body {
	height: 100vh;
	width: 100%;
	align-items: center;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}

ul {
	/* list-style-type: circle; */
	margin-block-start: 0px;
	margin-block-end: 0px;
	/* padding: 10px; */
}

.inline-middle {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: middle;
}

.header_left li {
	display: inline-block;
	vertical-align: top;
	*zoom: 1;
	*display: inline;
	/* margin-right: 44px; */
}

ul li {
	list-style: none;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

.inline-top {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: top;
}

img {
	vertical-align: middle;
}

img, fieldset {
	border: none;
}

#user_id {
	display: inline-flex;
	flex-direction: row;
}

#user_password {
	display: inline-flex;
	flex-direction: row;
}

#contents {
	position: relative;
	z-index: 0;
	/* padding: 110px 40px 110px 40px; */
	margin: 0 auto;
	max-width: 950px;
}
#contents {
	/* padding: 100px 0 0 0!important; */
	width: 100%!important;
	max-width: 1920px!important;
}


@media all and (min-width: 1024px) {
	/* 1024픽셀을 넘어가는 순간부터 이 미디어 쿼리를 적용하겠다. */
	#contents {
		max-width: 1024px;
		margin: 0 auto;
	}
}

.section .box {
	display: inline-block;
	vertical-align: top;
	*zoom: 1;
	padding: 0;
	margin-right: -5px;
}

.section img {
	display: block;
	margin: 0 auto;
}