* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 11px;
	font-family: 'arial', 'Nanum gothic';
	/* font-family: 'LeferiPoint-WhiteObliqueA', sans-serif; */
}

#header-wrap-outer {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: #fff;
	text-transform: uppercase;
}

#header_wrap {
	/* line-height: 48px; */
	font-size: 12px;
	width: 100%;
	border-bottom: 1px solid #000;
	/* display: table; */
}

.logo {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}

ul {
	/* list-style-type: circle; */
	margin-block-start: 0px;
	margin-block-end: 0px;
	/* padding: 10px; */
}

.inline-middle {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: middle;
}

.header_left li {
	display: inline-block;
	vertical-align: top;
	*zoom: 1;
	*display: inline;
	/* margin-right: 44px; */
}

ul li {
	list-style: none;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

.inline-top {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: top;
}

img {
	vertical-align: middle;
}

img, fieldset {
	border: none;
}

#user_id {
	display: inline-flex;
	flex-direction: row;
}

#user_password {
	display: inline-flex;
	flex-direction: row;
}

#contents {
	position: relative;
	z-index: 0;
	/* padding: 110px 40px 110px 40px; */
	margin: 0 auto;
	max-width: 950px;
}
#contents {
	/* padding: 100px 0 0 0!important; */
	width: 100%!important;
	max-width: 1920px!important;
}

.section .box {
	display: inline-block;
	vertical-align: top;
	*zoom: 1;
	padding: 0;
	margin-right: -5px;
}

.section img {
	display: block;
	margin: 0 auto;
}